@import './base.css';

#app {
  display: flex;
    padding: 2rem;
    font-weight: normal;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

  
}

a,
.green {
  text-decoration: none;
  color: #FFD333;
  transition: 0.4s;
  padding:0 4px;
  border-radius: 4px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgb(255, 203, 0, 0.3);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
